@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url("https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css");

head, body {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
}

.libreism-info {
	position: absolute;
	top: 0;
	left: 0;

	margin: 30px;
}

.libreism-info__text {
	font-weight: 700;
	font-size: 30px;

	cursor: pointer;

	padding-bottom: 5px;
	margin-left: -2.7px;
}

.libreism-info__bar {
	width: 65px;
	border-bottom: 8px black solid;
}

.main-content__header {
	display: table;
	margin: 0 auto;
}

.main-content {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	text-align: center;

	height: 100vh;

	margin: 0 auto;
}

.main-content__title {
	font-size: 25px;
	text-align: left;
}

.main-content__url {
	font-size: 60px;
	padding-right: 10px;
	font-weight: 700;
}

.main-content__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-content__time {
	display: flex;
	text-align: right;
	flex-direction: column;
	padding-right: 20px;
}

.main-content__time:nth-last-child(1) {
	padding-right: 0;
}

.main-content__server_time {
	font-size: 80px;
	font-weight: 700;
}

.main-content__standard_time {
	font-size: 45px;
	font-weight: 700;
}

.main-content__time_diff {
	display: inline-flex;
	align-items: center;

	position: absolute;
	top: 0;
	bottom: 0;
	padding-left: 40px;

	font-size: 20px;
	width: 100%;
}